.mensaje{
    font-size: 30px;
    width: 100%;
    margin-left: 5%;
}


.carrito{
    margin-left: 5%;
    margin-right: 10%;
    width: 80%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
}

.titulo-carrito{
    margin-top: 90px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.cart-carrito{
    margin-top: 20px;
    padding: 30px;
}

.titulo-card-carrito{
    font-weight: 900;
    font-size: 20px;
}

.card-carrito{
    font-weight: 900;
    font-size: 17px;
}


.boton-eliminar{
    background-color: #5df745;
    border: 4px solid #5df745;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
.boton-eliminar:hover{
    color: #0f0d99;
    transition: 0.4s;
}


.boton-volver{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.boton-volver:hover{
    color: #0f0d99;
    transition: 0.4s;
}


.boton-limpiar{
    background-color: #5df745;
    border: 4px solid #5df745;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    margin-right: 2%;
    margin-left: 3%;
}
.boton-limpiar:hover{
    color: #0f0d99;
    transition: 0.4s;
}


.total{
    margin-left: 40%;
}

.boton-orden{
    background-color: #5df745;
    border: 4px solid #5df745;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: cover;
}
.boton-orden:hover{
    color: #0f0d99;
    transition: 0.4s;
}

.titulo-total{
    margin-left: 5%;
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
    width: 200px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}



.formFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 40%;
}
.fleInputs {
    width: 200px;
    height: 50px;
    padding: 20px;
}
.input {
    background: #5df745;
    border: none;
    padding: 7px;
    cursor: pointer;
}


