@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@600&display=swap');


.card-productos{
    margin-left: 35%;
    width: 350px;
    padding-top: 30px;
    margin-top: 50px;
    transition: all 400ms ease;
    font-family: 'Oswald', sans-serif;
}

.card-productos:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: translateY(-3%);
}
.card-productos img{
    width: 180px;
    height: auto;
}


.titulo-cards{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.precio-cards{
    font-size: 19px;
}


