.card-productos{
    color: black;
    width: 300px;
    padding-top: 30px;
    margin-top: 20px;
    transition: all 400ms ease; 
    font-family: 'Oswald', sans-serif;
}

.card-productos:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    transform: translateY(-3%); 
}

.card-productos img{
    width: 180px;
    height: auto;
}


.titulo-cards{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.precio-cards{
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}


.boton {
    background-color: #5df745;
    border: 4px solid #5df745;
    color: black;
    padding: 5px;
    font-weight: 300;
    margin: 10px 0px 20px 0px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}