.baner-text{
    background-color: #5df745;
    margin-top: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

.logoNombre {
    display: flex;
    justify-content: left;
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-radius: 100px;
    margin-top: 0px;
}

.navegacion {
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navegacion li a {
    text-decoration: none;
    padding: 0 13px; 
    display: block;
    font-size: 19px;
    color: black;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}
.navegacion li {
    display: inline-block;
}

.navegacion li a:hover {
    background-color: #5c59f8;
    transition: 0.4s;
}


.carrito {
    margin-top: 8px;
    width: 50px;
}
