@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@600&display=swap');

.navbar-contenedor {
    background-color:  #c6f7dc;
    height: 100%;
}

.logoNombre {
    display: flex;
    justify-content: left;
}

.logoNombre h2 {
    margin-left: 30px;
    margin-top: 80px;
    font-size: 27px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    color: rgb(0, 0, 0);
}

.logo{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    border-radius: 100px;
    margin-top: 20px;
}

.navegacion {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
}
.navegacion li a {
    text-decoration: none;
    padding: 0 13px; 
    display: block;
    font-size: 17px;
    color: black;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
}
.navegacion li {
    display: inline-block;
}

.navegacion li a:hover {
    background-color: #5c59f8;
    transition: 0.4s;
}


.carrito {
    width: 40px;
}
